body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #f5f5f5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #007bff;
    color: #fff;
}

.main-content {
    flex: 1;
}

/* Container chính */
#type {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#monthSelect {
    margin: 10px 5px;
}

/* Tiêu đề */
#type h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

/* Label và Select */
label {
    font-size: 16px;
    color: #555555;
    margin-right: 10px;
}

select {
    font-size: 16px;
    padding: 8px 12px;
    margin: 0 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
}

select:hover {
    border-color: #888888;
    background-color: #f5f5f5;
}

select:focus {
    outline: none;
    border-color: #007bff;
}

/* Button */
#loadDataButton {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#loadDataButton:hover {
    background-color: #0056b3;
}

/* Biểu đồ */
#tognoek {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}